.chat{
    cursor: pointer;
    color: teal;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f6f6f6;
}

.chat:hover{
    background: #cac9c9eb;
}

.info{
    margin-left: 15px;
}
.info>h2{
    margin-bottom: 10px;
    color: gray;
}

.info>p{
    color: rgb(100, 96, 96);
}

.addNewChat{
    width: 100%;
    color: rgb(97, 95, 80);
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}